NODE_ENV=development
PORT=3003

DB_HOST=localhost
DB_PORT=5441
DB_NAME=insurance_denials
DB_USER=denials_user
DB_PASSWORD=denials_pass

JWT_SECRET=change_this_to_a_random_secret_in_production
JWT_EXPIRES_IN=24h

UPLOAD_DIR_837=./data/837
UPLOAD_DIR_835=./data/835
MAX_FILE_SIZE=10485760

CORS_ORIGIN=http://localhost:5173
