NODE_ENV=development
PORT=3003

DB_HOST=localhost
DB_PORT=5442
DB_NAME=denials_db
DB_USER=denials_user
DB_PASSWORD=denials_pass

JWT_SECRET=4ft8h39L7ymmmOaAv2w7xbhFaJwIPnbvnfY9SYSWebm
JWT_EXPIRES_IN=24h

UPLOAD_DIR_837=C:\INCOMING_837
UPLOAD_DIR_835=C:\INCOMING_835
PROCESSED_DIR_837=./data/837_processed
MAX_FILE_SIZE=10485760

CORS_ORIGIN=http://localhost:5404
REDIS_URL=redis://localhost:6380